/* Variables */
$tablet: "(min-width: 750px)";
$laptop: "(min-width: 1000px)";

/* Mixins */
@mixin mediaQueries($arg) {
  @media screen and #{$arg} {
    @content;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  @include mediaQueries($tablet) {
    font-size: 16px;
  }
}

/* Modal */
.modal-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  margin: 5px 5px 0 0;
  opacity: .85;
}

.sm-12 {
  background-color: white;
}

.modal-about {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: .5em;
  top: 100px;
  width: 80%;
  max-width: 400px;
}

.modal-cancel {
  background-color: white;
  border: none;
  float: right;
}

.material-icons.sm-12 {
  font-size: 20px;
}

.modal-title {
  background-color: white;
  color: royalblue;
  font-size: 1.2em;
  padding: .5em;
  text-decoration: underline;
}

.user-stories {
  background-color: white;
  font-style: italic;
  padding: .5em 2em .5em 2.5em;
}

.story:nth-of-type(2),
.story:nth-of-type(3) {
  margin-top: 1em;
}

.modal-text {
  background-color: white;
  margin: .5em;
}

.copy {
  background-color: white;
  font-size: 1.1em;
}

.link {
  color: royalblue;
  font-weight: 600;
  text-decoration: none;
}

.modal-about::backdrop {
  background: darkgray;
  opacity: .85;
}

.main-container {
  align-items: center;
  background-color: #BE90D4;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: .5em auto;
  max-width: 500px;
  width: 95%;
  @include mediaQueries($tablet) {
    margin-top: 1em;
    width: 75%;
  }
  @include mediaQueries($laptop) {
    width: 65%;
  }
}

.main-title {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  margin: .5em 0;
  padding: .5em;
}

.stream-container {
  align-content: space-around;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  height: 4em;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: .5em 0;
  width: 95%;
}

.stream-title {
  font-size: 1em;
  text-align: center;
  order: 0;
  width: 100%;
}

.stream-link {
  flex-grow: 1;
  order: 1;
  padding-left: .5em;
  text-decoration: none;
}

.stream-description-offline {
  flex-grow: 1;
  font-style: italic;
  order: 1;
  padding-left: .5em;
}

.stream-description-online {
  color: blue;
}

.stream-status-offline {
  color: red;
  order: 1;
  padding-right: .5em;
}

.stream-status-online {
  color: green;
  font-weight: 600;
  padding-right: .5em;
  order: 1;
}

#rainbow6-div {
  margin-bottom: 2em;
}

.footer--not-fixed {
  bottom: 0;
  height: 30px;
  left: 0;
  margin-bottom: 10px;
  position: initial;
  text-align: center;
  width: 100%;
}

.freecodecamp {
  color: #007bff;
  text-decoration: none;
}
