* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#rainbow6-div {
  margin-bottom: 2em;
}

.main-container {
  margin: 0.5em auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #BE90D4;
}

.main-title {
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 1.5em;
  background-color: white;
}

.stream-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  width: 95%;
  height: 4em;
  margin: 0.5em 0;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

.stream-title {
  order: 0;
  width: 100%;
  font-size: 1em;
  text-align: center;
}

.stream-link {
  order: 1;
  flex-grow: 1;
  padding-left: 0.5em;
  text-decoration: none;
}

.stream-description-offline {
  order: 1;
  flex-grow: 1;
  font-style: italic;
  padding-left: 0.5em;
}

.stream-description-online {
  color: blue;
}

.stream-status-offline {
  order: 1;
  padding-right: 0.5em;
  color: red;
}

.stream-status-online {
  order: 1;
  padding-right: 0.5em;
  color: green;
  font-weight: 600;
}

/* Media Queries: iPad */
@media only screen and (min-width: 600px) {

  * {
    font-size: 16px;
  }

  .main-container {
    margin: 1.5em auto;
    width: 90%;
  }

  .stream-container {
    width: 90%;
    height: 3em;
    align-items: center;
  }

  .stream-title {
    width: 32.5%;
    font-size: 1.2em;
  }

  .stream-link {
    padding: 0;
    font-size: 1.1em;
  }

  .stream-description-offline {
    padding: 0;
    font-size: 1.1em;
  }

  .stream-status-offline {
    padding: 0;
    width: 12.5%;
    text-align: center;
  }

  .stream-status-online {
    padding: 0;
    width: 12.5%;
    text-align: center;
  }

}

@media only screen and (min-width: 950px) {

  * {
    font-size: 18px;
  }

  .main-container {
    width: 85%;
  }

  .stream-container {
    width: 80%;
  }

}

@media only screen and (min-width: 1200px) {
  .main-container {
    width: 60%;
  }
}

@media only screen and (min-width: 2000px) {

  .main-container {
    width: 50%;
  }
}
