.stream-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 400px;
  padding: 0;
}

.stream {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: .5rem 0;
  width: 95%;
}

.stream-link {
  color: inherit;
  text-decoration: none;
}

.stream-title {
  font-size: 1rem;
  margin: .5rem 0;
  padding: 0;
  text-align: center;
  width: 100%;
}   

.stream-description-offline {
  flex-grow: 1;
  font-style: italic;
  margin: 0 0 .5rem .5rem;
  padding: 0;
}

.stream-description-online {
  color: blue;
  flex-grow: 1;
  font-style: italic;
  margin: 0 0 .5rem .5rem;
  padding: 0;
}

.stream-offline {
  color: red;
  margin: 0;
  padding-right: .5rem;
}

.stream-online {
  color: green;
  font-weight: 600;
  margin: 0;
  padding-right: .5rem;
}