.stream-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 95%;
}

.stream {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: .5rem 0;
  width: 100%;
}

.stream-title {
  font-size: 1rem;
  text-align: center;
  margin: .5rem 0;
  padding: 0;
  width: 100%;
}   

.stream-description {
  flex-grow: 1;
  font-style: italic;
  margin: 0 0 .5rem .5rem;
  padding: 0;
}

.stream-status {
  color: red;
  margin: 0 .5rem .5rem 0;
  padding: 0;
}

.stream-link {
  text-decoration: none;
}